@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-background: 22, 27, 34;
  --header-text: 255, 255, 255;
  --paragraph-text: 255, 255, 255;
  --experience-tab: 226, 232, 240;
  --experience-tab-active: 255, 255, 255;
  --experience-tab-inactive: 226, 232, 240;
  --normal-border: 51, 53, 63;
  --hover-border: 255, 255, 255;

}

.light {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --main-background: 255, 255, 255;
  --header-text: 0, 0, 0;
  --paragraph-text: 0, 0, 0;
  --experience-tab: 255, 255, 255;
  --experience-tab-active: 0, 0, 0;
  --experience-tab-inactive: 81, 81, 81;
  --normal-border: 51, 53, 63;
  --hover-border: 150, 150, 150;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}